*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main_slide{
    width: 80%;
    height: 80vh;
    background-color: red;
    margin: 50px auto;
    position: relative;
    border-radius: 50px;
    background: #3a3636;
    box-shadow:  20px 20px 60px #191717,
                -20px -20px 60px #5b5555;
}
.main_slide img{
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 0;
}
.main_slide .active{
    opacity: 1;
}
.main_slide .controle{
    position: absolute;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.controle .next,
.controle .back{
    border: 0px;
    padding: 10px 20px;
    background-color: rgb(26, 7, 7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
 .disable{
    border: 0px;
    padding: 10px 20px;
    background-color: rgb(221, 9, 9);
    cursor: no-drop;
    color: white;
    border-radius: 5px;
}
#header{
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 10px;
    z-index: 20;
    border-radius: 3px;
    background: #40aac4;
    box-shadow:  7px 7px 10px #0b0d0e,
                 -7px -7px 10px #65ffff;
}

/* dropdwon */
/* body{
    background-color: #191717;
} */
.main{
    width: 50%;
    background-color: red;
    margin: 50px auto;
    height: 50px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.nav > li a{
    color: white;
}
.list{
    position: relative;
}
.list .sublist{
    background-color:white;
    position: absolute;
    top: 50px;
    width: 400%;
    padding: 15px;
    box-shadow: 0 3px 5px  white;
    display: none;
    transition: 1s;
}
.sublist li:hover a{
    color: red;
    background-color: black;
    width: 100%;
    transition: 0.5s;
}
.list .sublist a{
    color: #0b0d0e;
    display: inline-block;
    padding: 10px;
}
.list .sublist::before{
    content: "";
    position: absolute;
    top: -15px;
    border-bottom: 8px solid white;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.list:hover .sublist{
    display: block;
    transition: 1s;
}



















/* ...................................circle image ..................................*/





body{
    background:linear-gradient(to right ,rgb(45, 153, 196),rgb(45, 105, 189));
}

.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow: hidden;
}

.slide{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;   
    animation: rotate 30s linear infinite; 
}
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slide span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*51deg)) translatez(350px);
    transition: 0.5s;
}
.slide span img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
}
.slide span:hover img{
    transform: translateY(-50px) scale(1.1);
}



/* ...................................circle image ..................................*/



















